<link rel="stylesheet" type="text/css" href="gauge/index.css" />
<link rel="stylesheet" type="text/css" href="gauge/dark.css" />
<script type="text/javascript" src="gauge/highlight.pack.js"> </script>
<script type="text/javascript" src="gauge/gauge.js"> </script>

<div id="gauge_1" class="gauge-container three"></div>


<script>
var gauge3 = Gauge(
  document.getElementById("gauge_1"),
  {
    max: 100,
    value: 78
  }
);
</script>
