<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Monitoreo eolian</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">

  </head>
  <body>

    <nav class="navbar navbar-dark bg-primary">
      <a href="/" class="navbar-brand">Monitoreo General Eolian Áuriga</a>
    </nav>
