// app global css in SCSS form
.allCenter {
padding: 0;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.etiqueta {
font-size: 90%;
}

.numero {
font-size: 190%;
}

.texto-bold {
font-weight: bold;
}

.padding-5 {
    padding: 5%;
}

.padding-1 {
    padding: 1%;
}